<main class="register-container">
  <div class="register-hero">
    <div class="register-hero__container">
      <img class="register-hero__image" src="assets/images/register-hero.jpg" alt="register Hero" />
    </div>
  </div>

  <div class="register-content">
    <div class="register-content__logo">
      <img
        class="register-content__logo-image"
        src="assets/images/logo-conecta.png"
        alt="Conecta Logo"
      />
    </div>

    <div class="register-content__header">
      <h1>Crie sua conta!</h1>
      <p class="register-content__description">
        Crie sua conta para ter acesso a milhares de vagas de estágio e empregos ou contrate
        profissionais qualificados.
      </p>
    </div>

    <div class="register-tabs">
      <button
        class="register-tabs__button"
        [class.register-tabs__button--active]="activeTab === 'candidate'"
        (click)="activeTab = 'candidate'"
      >
        Quero me candidatar
      </button>
      <button
        class="register-tabs__button"
        [class.register-tabs__button--active]="activeTab === 'company'"
        (click)="activeTab = 'company'"
      >
        Quero contratar
      </button>
    </div>

    @if (activeTab === 'candidate') {
      <form class="register-form" [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
        <div class="register-form__item">
          <label for="candidate-name">Nome completo:</label>
          <input
            class="register-form__input"
            type="text"
            id="candidate-name"
            name="name"
            placeholder="Digite seu nome completo"
            formControlName="name"
          />

          @if (candidateForm.get('name')?.invalid && candidateForm.get('name')?.touched) {
            <div class="register-form__error">
              <span>Nome completo é obrigatório</span>
            </div>
          }
        </div>

       
        <div class="register-form__item">
          <label for="candidate-email">Email:</label>
          <input
            class="register-form__input"
            type="email"
            id="candidate-email"
            name="email"
            placeholder="Digite seu email"
            formControlName="email"
          />

          @if (candidateForm.get('email')?.invalid && candidateForm.get('email')?.touched) {
            <div class="register-form__error">
              <span>Email inválido</span>
            </div>
          }
        </div>

        <div class="register-form__item">
          <label for="candidate-password">Senha:</label>
          <input
            class="register-form__input"
            type="password"
            id="candidate-password"
            name="password"
            placeholder="Digite sua senha"
            formControlName="password"
          />

          @if (candidateForm.get('password')?.invalid && candidateForm.get('password')?.touched) {
            <div class="register-form__error">
              <span>Senha inválida</span>
            </div>
          }
        </div>

        <button class="register-form__button" type="submit">Criar conta</button>

        <div class="register-form__footer">
          <p>
            Já tem uma conta? <a class="register-form__link" routerLink="/auth/login">Faça login</a>
          </p>
        </div>
      </form>
    }

    @if (activeTab === 'company') {
      <form class="register-form" [formGroup]="companyForm" (ngSubmit)="onSubmit()">
        <div class="register-form__item">
          <label for="company-name">Nome da empresa:</label>
          <input
            class="register-form__input"
            type="text"
            id="company-name"
            name="companyName"
            placeholder="Digite o nome da empresa"
            formControlName="name"
          />

          @if (companyForm.get('name')?.invalid && companyForm.get('name')?.touched) {
            <div class="register-form__error">
              <span>Nome da empresa é obrigatório</span>
            </div>
          }
        </div>

      

        <div class="register-form__item">
          <label for="company-email">Email corporativo:</label>
          <input
            class="register-form__input"
            type="email"
            id="company-email"
            name="email"
            placeholder="Digite o email corporativo"
            formControlName="email"
          />

          @if (companyForm.get('email')?.invalid && companyForm.get('email')?.touched) {
            <div class="register-form__error">
              <span>Email corporativo é obrigatório</span>
            </div>
          }
        </div>

        <div class="register-form__item">
          <label for="company-password">Senha:</label>
          <input
            class="register-form__input"
            type="password"
            id="company-password"
            name="password"
            placeholder="Digite sua senha"
            formControlName="password"
          />

          @if (companyForm.get('password')?.invalid && companyForm.get('password')?.touched) {
            <div class="register-form__error">
              <span>Senha inválida</span>
            </div>
          }
        </div>

        <button class="register-form__button" type="submit">Criar conta</button>

        <div class="register-form__footer">
          <p>
            Já tem uma conta? <a class="register-form__link" routerLink="/auth/login">Faça login</a>
          </p>
        </div>
      </form>
    }
  </div>
</main>
