<main class="register-container">
  <div class="register-hero">
    <div class="register-hero__container">
      <img class="register-hero__image" src="assets/images/register-hero.jpg" alt="register Hero" />
    </div>
  </div>

  <div class="register-content">
    <div class="register-content__logo">
      <img
        class="register-content__logo-image"
        src="assets/images/logo-conecta.png"
        alt="Conecta Logo"
      />
    </div>

    <div class="register-content__header">
      <h1>Crie sua conta!</h1>
      <p class="register-content__description">
        Crie sua conta para ter acesso a milhares de vagas de estágio e empregos ou contrate
        profissionais qualificados.
      </p>
    </div>

    <div class="register-tabs">
      <button
        class="register-tabs__button"
        [class.register-tabs__button--active]="activeTab === 'candidate'"
        (click)="activeTab = 'candidate'"
      >
        Quero me candidatar
      </button>
      <button
        class="register-tabs__button"
        [class.register-tabs__button--active]="activeTab === 'company'"
        (click)="activeTab = 'company'"
      >
        Quero contratar
      </button>
    </div>

    @if (activeTab === 'candidate') {
      <form class="register-form" [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
        <div class="register-form__item">
          <label for="candidate-name">Nome completo:</label>
          <input
            class="register-form__input"
            type="text"
            id="candidate-name"
            name="name"
            placeholder="Digite seu nome completo"
            formControlName="name"
          />

          @if (candidateForm.get('name')?.invalid && candidateForm.get('name')?.touched) {
            <div class="register-form__error">
              <span>Nome completo é obrigatório</span>
            </div>
          }
        </div>

        <!-- 
            <div class="register-form__item">
                <label for="candidate-cpf">CPF:</label>
                <input class="register-form__input" type="text" id="candidate-cpf" name="cpf"
                    placeholder="000.000.000-00" formControlName="cpf" mask="000.000.000-00">

                @if (candidateForm.get('cpf')?.invalid && candidateForm.get('cpf')?.touched) {
                <div class="register-form__error">
                    <span>CPF inválido</span>
                </div>
                }
            </div>
            

            <div class="register-form__item">
                <label for="candidate-birthdate">Data de nascimento:</label>
                <input class="register-form__input" type="date" id="candidate-birthdate" name="birthdate"
                    placeholder="Digite sua data de nascimento" formControlName="birthdate">

                @if (candidateForm.get('birthdate')?.invalid && candidateForm.get('birthdate')?.touched) {
                <div class="register-form__error">
                    <span>Data de nascimento é obrigatória</span>
                </div>
                }
            </div>
            -->

        <div class="register-form__item">
          <label for="candidate-email">Email:</label>
          <input
            class="register-form__input"
            type="email"
            id="candidate-email"
            name="email"
            placeholder="Digite seu email"
            formControlName="email"
          />

          @if (candidateForm.get('email')?.invalid && candidateForm.get('email')?.touched) {
            <div class="register-form__error">
              <span>Email inválido</span>
            </div>
          }
        </div>

        <div class="register-form__item">
          <label for="candidate-password">Senha:</label>
          <input
            class="register-form__input"
            type="password"
            id="candidate-password"
            name="password"
            placeholder="Digite sua senha"
            formControlName="password"
          />

          @if (candidateForm.get('password')?.invalid && candidateForm.get('password')?.touched) {
            <div class="register-form__error">
              <span>Senha inválida</span>
            </div>
          }
        </div>

        <button class="register-form__button" type="submit">Criar conta</button>

        <div class="register-form__footer">
          <p>
            Já tem uma conta? <a class="register-form__link" routerLink="/auth/login">Faça login</a>
          </p>
        </div>
      </form>
    }

    @if (activeTab === 'company') {
      <form class="register-form" [formGroup]="companyForm" (ngSubmit)="onSubmit()">
        <div class="register-form__item">
          <label for="company-name">Nome da empresa:</label>
          <input
            class="register-form__input"
            type="text"
            id="company-name"
            name="companyName"
            placeholder="Digite o nome da empresa"
            formControlName="name"
          />

          @if (companyForm.get('name')?.invalid && companyForm.get('name')?.touched) {
            <div class="register-form__error">
              <span>Nome da empresa é obrigatório</span>
            </div>
          }
        </div>

        <!-- 
        <div class="register-form__item-2-columns">
          <div class="register-form__item">
            <label for="company-cnpj">CNPJ:</label>
            <input
              class="register-form__input"
              type="text"
              id="company-cnpj"
              name="cnpj"
              placeholder="00.000.000/0000-00"
              formControlName="cnpj"
              mask="00.000.000/0000-00"
            />

            @if (companyForm.get('cnpj')?.invalid && companyForm.get('cnpj')?.touched) {
              <div class="register-form__error">
                <span>CNPJ inválido</span>
              </div>
            }
          </div>

          <div class="register-form__item">
            <label for="company-location">Localização:</label>
            <input
              class="register-form__input"
              type="text"
              id="company-location"
              name="location"
              placeholder="Digite a localização da empresa"
              formControlName="location"
            />

            @if (companyForm.get('location')?.invalid && companyForm.get('location')?.touched) {
              <div class="register-form__error">
                <span>Localização é obrigatória</span>
              </div>
            }
          </div>
        </div>

        <div class="register-form__item-2-columns">
          <div class="register-form__item">
            <label for="company-website">Site:</label>
            <input
              class="register-form__input"
              type="url"
              id="company-website"
              name="website"
              placeholder="Digite o site da empresa"
              formControlName="website"
            />

            @if (companyForm.get('website')?.invalid && companyForm.get('website')?.touched) {
              <div class="register-form__error">
                <span>Site é obrigatório</span>
              </div>
            }
          </div>

          <div class="register-form__item">
            <label for="company-sector">Setor de atuação:</label>
            <select
              class="register-form__input"
              id="company-sector"
              name="sector"
              formControlName="sector"
            >
              <option value="technology">Tecnologia</option>
              <option value="health">Saúde</option>
              <option value="finance">Finanças</option>
              <option value="education">Educação</option>
              <option value="government">Governo</option>
              <option value="other">Outro</option>
            </select>

            @if (companyForm.get('sector')?.invalid && companyForm.get('sector')?.touched) {
              <div class="register-form__error">
                <span>Setor de atuação é obrigatório</span>
              </div>
            }
          </div>
        </div>
         -->

        <div class="register-form__item">
          <label for="company-email">Email corporativo:</label>
          <input
            class="register-form__input"
            type="email"
            id="company-email"
            name="email"
            placeholder="Digite o email corporativo"
            formControlName="email"
          />

          @if (companyForm.get('email')?.invalid && companyForm.get('email')?.touched) {
            <div class="register-form__error">
              <span>Email corporativo é obrigatório</span>
            </div>
          }
        </div>

        <div class="register-form__item">
          <label for="company-password">Senha:</label>
          <input
            class="register-form__input"
            type="password"
            id="company-password"
            name="password"
            placeholder="Digite sua senha"
            formControlName="password"
          />

          @if (companyForm.get('password')?.invalid && companyForm.get('password')?.touched) {
            <div class="register-form__error">
              <span>Senha inválida</span>
            </div>
          }
        </div>

        <button class="register-form__button" type="submit">Criar conta</button>

        <div class="register-form__footer">
          <p>
            Já tem uma conta? <a class="register-form__link" routerLink="/auth/login">Faça login</a>
          </p>
        </div>
      </form>
    }
  </div>
</main>
