name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Verificar Docker
        run: docker info

      - name: Build e testes
        run: mvn clean verify -Dspring.profiles.active=test -f backend/pom.xml

  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Instalar dependências
        run: npm ci
        working-directory: frontend

      - name: Testes
        run: npm test -- --no-watch
        working-directory: frontend

      - name: Build
        run: npm run build
        working-directory: frontend